<%=form_for message, remote: true, authenticity_token: true do |f|%>
  <%= f.text_area :content, class: "form-control", data: {textarea: "message"}, cols: 30, rows: 1%>
  <div id='characters' class='pull-right'>160</div>
  <%= f.hidden_field :chatroom_id, value: chatroom.id %>
 </br>
  <%= f.submit "send", class: "btn btn-primary", data: {send: "message"}%>
<%end%>