<div class="row col-md-8 col-md-offset-2" id="chatroom-title">
  <h1>Groups</h1>
</div>

<div class="row col-md-8 col-md-offset-2" id="chatrooms">
  <div id="chatroom-errors">
    
  </div>
    <ul id="chatroom-index"> 
  <div class="well">
    <% if @chatrooms.any? %>
        <%= render @chatrooms%>
    <%else %>
      </ul>
      <p>Be the first one to make a group!</p>
    <% end %>
  </div>
</div>